<template name="invitadosEvents">
  {{#with eventInEdit}}
  <div class="ui left aligned grid container">
    <div class="left floated sixteen wide column">
      <div class="ui form segment">
        {{>eventMenu }}

        <div class="ui left aligned grid">
          <div class="left floated sixteen wide column">
            <div class="ui left icon input floatRight">
              <input type="text" id="search" placeholder="Buscar ...">
              <i class="users icon"></i>
            </div>
          </div>
        </div>

        <div class="ui left aligned grid">
          <div class="left floated sixteen wide column">
            {{#if isEmpty}}
            <div class="ui green message">Este Evento no posee Invitados</div>
            {{else}}
            <table class="ui table">
              <thead>
                <tr>
                  <th>Total Ingresos</th>
                  <th>Nombre</th>
                  <th>RRPP</th>
                  <th>Rut</th>
                  <th>Sexo</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {{#each invitados}}
                <tr>
                  <td>
                    <div class="ui label">
                      {{this.user.profile.totalEntradas}}
                    </div>
                  </td>
                  <td>{{nombre}}</td>
                  <td>{{rrppOwner createdUserId}}</td>
                  <td>{{rut}}</td>
                  <td>
                    <div class="ui {{getSex sexo}}  label">
                      <i class="{{getSexIcon sexo}} icon"></i>
                    </div>
                  </td>
                  <td>
                    <a id="btnRemove" class="ui small red icon button">
                      <i class="trash icon"></i>
                    </a>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            <a class="ui blue fluid button" id="loadMoreInvitados">Load More ...</a> {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/with}}

</template>
